html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  &::-webkit-scrollbar {
    width: 0.6rem;
  }
  &::-webkit-scrollbar-track {
    background: $white;
  }
  &::-webkit-scrollbar-thumb {
    background: $orange-400;
    border-radius: 5rem;
  }
}

.wrapper {
  height: 100vh;
  width: 100%;
  max-width: 192rem;
  max-height: 100vh;
  margin: 0 auto;
}

.main-wrap {
  width: 100%;
  max-width: 156rem;
  background-color: $white;
  padding: 1.7rem 3.2rem 1.7rem 0;
  .main-wrap-small {
    display: flex;
    gap: 2.4rem;
    &-box:first-child {
      flex: 1 1 109rem;
    }
    &-box:last-child {
      flex: 1 1 44.6rem;
    }
  }
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.flex-box {
  display: flex;
  flex-wrap: wrap;
}

.row {
  display: flex;
  gap: 1rem;
  margin: 1.8rem 0;
  &:first-child {
    margin-top: 6rem;
  }
}

.title {
  font-size: 3.6rem;
  color: $text;
  line-height: 54px;
  font-weight: 700;
  margin-bottom: 3.2rem;
}

.search-input {
  position: relative;
  width: 30rem;
  padding: 10px 16px;
  background-color: #ede6e6;
  border-radius: 12px;
  font-style: italic;
  border: none;
}

.icon-search {
  position: absolute;
  top: 13%;
  left: 26.5rem;
  font-size: 2.4rem;
  cursor: pointer;
}

.btn {
  padding: 11px 16px;
  border: 2px solid #ff993c;
  border-radius: 6px;
  color: #ff993c;
  cursor: pointer;
}

.li-dsd {
  padding: 0.8rem 1.2rem;
  background: #eaf1f8;
  color: #919dba;
  border: 1px solid #919dba;
  border-radius: 4px;
}
.li-csd,
.li-dad {
  padding: 0.8rem 1.2rem;
  background: #def7e0;
  color: #03ac00;
  border: 1px solid #03ac00;
  border-radius: 4px;
}
.li-hh,
.li-tat {
  padding: 0.8rem 1.2rem;
  background: #f8ebe8;
  color: #fd5959;
  border: 1px solid #fd5959;
  border-radius: 4px;
}

.sub-heading {
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: $text;
}
